# Entornos virtuales
venv/
.env

# Base de datos
db.sqlite3
*.sqlite3-journal

# Python bytecode
__pycache__/
*.py[cod]
*.pyd

# Archivos de log, cobertura y caché
*.log
*.cache
*.coverage
.coverage.*
htmlcov/
coverage.xml

# Compilación de paquetes
build/
dist/
*.egg-info/

# Node (Tailwind)
node_modules/
package-lock.json
theme/static/css/dist/

# Editores
.vscode/
.idea/

# Django migraciones basura
*/migrations/__pycache__/
